<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Lab Results</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     --> <!-- Bootstrap core CSS     -->
    <link href="../Public/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../Public/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="../Public/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../Public/assets/css/demo.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Public/reminders.css" />
    <link href="../Public/assets/css/lab.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../Public/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../Public/bower_components/moment/min/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href=" /Public/bower_components/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="../Public/bower_components/fullcalendar/dist/css/fullcalendar.css" />
    <script src="../Public/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>

    <script type='text/javascript'>

    </script>

    <script src="/Public/labresults.js"></script> 
</head>
<body ng-app="myapp" ng-controller="MainController" ng-hide="!loadPage" data-ng-init="getData()">

    <div class="wrapper">
        <div class="sidebar">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    <div class="sidebar-wrapper main-sidebar" style="background-color: #2483C2">
        <div class="logo">
            <a class="simple-text">
                {{summarys[0].FName}} {{summarys[0].LName}}  
            </a>
        </div>

        <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="summary.html">
                        <i class="pe-7s-user"></i>
                        <p>Patient Summary</p>
                    </a>
                </li>
                <li>
                    <a href="labresults.html">
                        <i class="pe-7s-note2"></i>
                        <p>Lab Results</p>
                    </a>
                </li>
            
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                
            </ul>
    </div>
</div>

<div class="content" ng-hide='showLab' style="margin-left: 265px;">
            <div class="container-fluid" style="height: 100% ">
                <div class="row">          
                    <div class="col-md-5">
                     
                        <div class="header">
                            <input class="form-control" id="search" type="text" ng-model="search" placeholder="Search by Name">                        
                        </div>
                        <div style="margin-bottom: 40px">
                        </div>
                        <div class="row" ng-repeat="result in results track by $index">
                            <div class="card col-md-12 labCard" style="padding-left: 0px; padding-right: 0px">
                              
                                
                                  <div class="col-md-6" style="padding-left: 5px; ">
                                    <strong><p style="margin-top: 5px; font-size: 20px; height: 19px">{{result.ReportName}}</p></strong>
                                  </div>
                                  <div class="col-md-6">
                                    <p style="color: gray; font-weight: normal; font-size: 14px; margin-top: 10px; margin-left: 126px;">10-12-2013</p>        
                                  </div>
                                  <div style="height:60px; margin-top: 39px; padding-left: 5px;">
                                    <p style="color: gray; font-weight: normal; font-size: 13px; padding-top: 0px;">{{result.DoctorNote}}
                                    </p>
                                  </div>
                             
                            </div>        
                        </div>
                    </div>
                    <div class="col-md-7" style="position: relative; height: 850px !important;">
                      <iframe ng-src="{{trustSrc(results[linkIndex].LabLink)}}" style="width:100%; height: 100%" frameborder="0">
                      </iframe>       
                    </div>

                
            </div>
        </div>



</body>

<!--   Core JS Files   -->
<script src="../Public/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../Public/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="../Public/assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="../Public/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../Public/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../Public/assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="../Public/assets/js/demo.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

<script src="/Public/app.js"></script>

<script src="/Public/MainController.js"></script> 

<script>
  $( function() {
    $( document ).tooltip();


  });



  </script>


</html>
