body{
	/*padding-top: 70px;*/
}




/*Responsive CSS*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #logoBH {
        width: 90%;
    }
    .login-page {
        width: auto;
    }
    .main-panel footer {
        position:static !important;
    }
    #reposition {
        position: static;
    }
    .main-panel > .content {
        padding: 30px 5px;
    }

    .main-panel > container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
}

