.tab {
	padding-left: 50px;
}

#tableW {
	width: 20px;

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*.table {
	border: none !important;
}*/

.noBorder {
    border:none !important;
}

.rowWidth {
	width: 200px;
}