@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset,
label {
  margin: 0;
  padding: 0;
  display: inline-block;
}

body {

}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

h3 {
  position: relative;
  
  
}

.front,
.back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
  background-color: white;
}

.panel-wrap {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  perspective: 700px;
}

.main-panel {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}
.flipbtn:active{
  
}
.main-panel:active{

}

.comments {
  position: relative;
  float: bottom;
}

.display,
.display2 {
  position: relative;
  left: -40%;
  border-style: solid;
  line-height: 30px;
  border: solid 1px black;
  height: 30px;
  width: 30px;
  float: right;
  right: 50%;
}


/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: middle;
  /* margin-bottom: 20px;*/
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,

/* show gold star when clicked */

.rating:not(:checked) > label:hover,

/* hover current star */

.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}


/* hover previous stars in list */

.rating > input:checked + label:hover,

/* hover current star when changing rating */

.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,

/* lighten current selection */

.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}


/****** Style Star Rating Widget *****/

.rating2 {
  border: none;
  float: middle;
  /* margin-bottom: 20px;*/
}

.rating2 > input {
  display: none;
}

.rating2 > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating2 > .half:before {
  content: "\f089";
  position: absolute;
}

.rating2 > label {
  color: #ddd;
  float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating2 > input:checked ~ label,

/* show gold star when clicked */

.rating2:not(:checked) > label:hover,

/* hover current star */

.rating2:not(:checked) > label:hover ~ label {
  color: #FFD700;
}


/* hover previous stars in list */

.rating2 > input:checked + label:hover,

/* hover current star when changing rating */

.rating2 > input:checked ~ label:hover,
.rating2 > label:hover ~ input:checked ~ label,

/* lighten current selection */

.rating2 > input:checked ~ label:hover ~ label {
  color: #FFED85;
}